@font-face {
    font-family: Manjari;
    src: url(fonts/Manjari-Bold.ttf);
}

body {
    background: rgb(171, 61, 255);
    background: linear-gradient(90deg, #B983FF 0%, #94B3FD 35%, #94DAFF 75%, #99FEFF 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Manjari';
}

.container {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    width: 100%;
    height: 100%;
}

.container>* {
    margin: 5px;
    max-height: 900px;
    border-radius: 10px;
}

.tool-box {
    padding: 20px;
    width: 100%;
    max-width: 200px;
    background: rgba(245, 255, 253, 0.38);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.8px);
    -webkit-backdrop-filter: blur(8.8px);
    border: 1px solid rgba(199, 221, 218, 0.44);
}

.options {
    padding-left: 20px;
}

.option svg {
    color: #7858A6
}

.option {
    list-style-type: none;
    color: #371B58;
    padding-bottom: 8px;
}


.row-horizontal>* {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
}

.row-buttons>* {
    width: 100%;
    max-width: 300px;
    padding: 15px 10px;
    margin: 5px;
    border-color: #94B3FD;
    border-radius: 15px;
    border-style: solid;
    cursor: pointer;
    background: rgb(210, 218, 255, 0.10);
    backdrop-filter: blur(8.8px);
    -webkit-backdrop-filter: blur(8.8px);
    font-family: 'Manjari';
    color: #2b2531;
    font-size: 15px;
    padding-top: 17px;
}

.save-img {
    background: #94B3FD;
}

.option >* {
    cursor: pointer;
}


.option:is(:hover, .active) :where(svg, span, label) {
    filter: saturate(100%) brightness(50%);
}

#fill-color:checked~label {
    filter: saturate(100%) brightness(50%);
}

#size-slider {
    width: 170px;
    opacity: 0.7;
}

.colors .options {
    display: flex;
    justify-content: space-between;
}

.colors .option {
    height: 10px;
    width: 18px;
    border-radius: 50%;
    margin-top: 3px;
    position: relative;
    cursor: pointer;
}

.colors .option:nth-child(1) {
    background-color: #fff;
    border: 1px solid #bfbfbf;
}

.colors .option:nth-child(2) {
    background-color: #000;
}

.colors .option:nth-child(3) {
    background-color: #E02020;
}

.colors .option:nth-child(4) {
    background-color: #6DD400;
}

.colors .option:nth-child(5) {
    background-color: #4A98F7;
}

.colors .option.selected::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    height: 12px;
    width: 12px;
    background: inherit;
    border-radius: inherit;
    border: 2px solid #fff;
    transform: translate(-50%, -50%);
}

.colors .option:first-child.selected::before {
    border-color: #ccc;
}

.option #color-picker {
    opacity: 0;
    cursor: pointer;
}

.undo-button {
    background-color: #94B3FD;
    font-family: 'Manjari';
    border:1px solid white;
    cursor: pointer;
    border-radius:10px;
    margin: 1px;
    display:flex;
    font-size:15px;
    padding-top:3px;

}

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: rgba(120, 88, 166, 0.3);
    color: rgb(85, 71, 107);
    text-align: center;
    border-radius: 6px;
    padding: 3px 3px 0px 0px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    font-size:15px;
    font-weight: 100;
  }
  
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(120, 88, 166, 0.3) transparent transparent transparent;
  }

  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
 
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

.clear-canvas:hover,
.save-img:hover {
    filter: saturate(200%) brightness(80%);
}

.drawing-board {
    display: flex;
    background-color: white;
    width: 100%;
    max-width: 800px;
    height: 570px;
}

#canvas {
    margin: auto;
    width: 100%;
    height: 570px;
}